<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href="/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css' />


  <title>Convert JPEG to PDF</title>
</head>

<body>

  <div class="row">

    <div class="col-sm-12 col-md-2">
      <!-- Place for ads -->

    </div>

    <div class="col-sm-12 col-md-8">



      <div class="main shad">

        <header>
          <div class="jumbotron jumbotron-fluid">
            <div class="container d-flex flex-column align-items-center">
              <a class="h2" href="https://convertjpegtopdf.com">ConvertJpegToPDF</a>
              <div class="d-flex flex-column align-items-center">
                <h6 class="disc text-center">
                  Convert images to pdf for free. No registration, No watermark !
                </h6>
              </div>
            </div>
          </div>
        </header>

        <main>
          <div class="container mbody">
            <h5 class="my-2">
              Convert JPEG to PDF online - Convert your JPEG to PDF for free !
            </h5>
            <p class="text-muted">Do you have a JPEG and you want to convert it to PDF ? Then You are on the right place
              !</p>
            <p>Effectively combine different JPEG pictures into a single PDF and share with others. Completely free, no
              registration, no watermark</p>

            <p>Minimal web app to convert your JPEG to PDF. </p>

            <div>
              <h6 class="font-weight-bold">How to use</h6>
              <ol>
                <li>
                  Click <span class="font-weight-bold">Upload</span> button and Select the images you wish to convert or
                  just drag your images to
                  drop area.
                </li>
                <li>
                  Then simply click <span class="font-weight-bold">Convert</span> button and get your PDF file.
                </li>
              </ol>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-column p-2 my-2 border mConverter">
                  <div class="border p-2 d-flex align-items-center flex-wrap">
                    <button id="btn-image-select" class="btn btn-primary mx-2">Add Files</button>
                    <button id="btn-convert" class="btn btn-primary mx-2">Convert</button>

                      <a id="btn-download" target="_blank" class="btn btn-primary btn-lg my-2 ml-auto"
                        style="display: none;">Download PDF</a>
                    

                    <div style="display: none;" class="ml-auto" id="status-view">
                      <div class="d-flex align-items-center ml-auto">
                        <small id="status-text">Loading</small>
                        <div id="loading-bar" class="lds-dual-ring mx-2"></div>
                      </div>
                    </div>
                  </div>

                  <div id="error-view" class="border p-2" style="display:none; color: crimson;"></div>
                  <form id="image-form" method="post" class="py-2" enctype="multipart/form-data">
                    <input type="file" style="display: none;" id="image-selector" accept="image/x-png,image/jpeg"
                      multiple />

                    <div id="image-preview-container" class="d-flex flex-column">

                      <!-- <div class="d-flex border align-items-center d-flex my-1 p-2">
                        <img class="unique-image" src='https://picsum.photos/200' style="width: 4em; height: 4em;">
                        <div class="p-2 d-flex flex-column overflow-hidden">
                          <span class="mwrap" style="font-weight: 500;">File Name</span>
                          <small class="mwrap">Size: fileSize</small>
                        </div>
                        <div class="d-flex ml-auto">
                          <img onclick='removeImage("${randId}")' class="mr-2 close-icon"
                            style="width: 1em; height: 1em;" src="/img/close.png">
                          <img onclick='removeImage("${randId}")' class="mr-2 handle" style="width: 1em; height: 1em;"
                            src="/img/move.png">
                        </div>
                      </div> -->


                    </div>

                  </form>
                </div>


              </div>
            </div>

            <h5 class="px-2 my-3 font-weight-bold">About this JPEG to PDF Converter</h5>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="border p-2 my-2">
                  <p class="font-weight-bold">Easiy JPEG, JPG and PNG Conversion</p>
                  <p>A simple and easiy interface to select your images, Reorder your images and download the generated
                    PDF.</p>
                </div>

                <div class="border p-2 my-2">
                  <p class="font-weight-bold">Image managment</p>
                  <p>Reorder your images as you want and convert to pdf</p>
                </div>

                <div class="border p-2 my-2">
                  <p class="font-weight-bold">Fast image conversion</p>
                  <p>You will get a your PDF without waiting long.</p>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="border p-2 my-2">
                  <p class="font-weight-bold">High Quality PDF</p>
                  <p>Your PDF keeps the quality of your images. No loss when generating the PDf.</p>
                </div>

                <div class="border p-2 my-2">
                  <p class="font-weight-bold">Secure</p>
                  <p>Your images and PDFs are transmitted through HTTPS so no one can spy you.</p>
                </div>

                <div class="border p-2 my-2">
                  <p class="font-weight-bold">No Watermarks</p>
                  <p>Your PDFs don't contain any watermark so you can share your PDF without any limitations. </p>
                </div>

              </div>
            </div>

          </div>
        </main>

        <footer class="d-flex justify-content-center align-items-center flex-column">

          <p style="color: white; font-weight: bold;">
            <a href="https://convertjpegtopdf.com">ConvertJpegToPDF </a>
            &#169;

            <script>
              const d = new Date(Date.now());
              document.write(d.getFullYear())
            </script>
          </p>

        </footer>

      </div>






    </div>

    <div class="col-sm-12 col-md-2">
      <!-- Place for ads -->
    </div>

    <div class="col-sm-12 col-md-3">

      <!-- Place for ads -->
    </div>


  </div>


  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/Sortable.min.js"></script>
  <script src="/js/jquery-sortable.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>