<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>Convert JPEG To PDF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel='stylesheet' href="/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css' />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet">
  <link href="css/imageuploadify.min.css" rel="stylesheet">


</head>

<body>

  <header>
    <div class="jumbotron">

      <div class="container d-flex flex-column align-items-center">

        <a class="h2" href="https://convertjpegtopdf.com">ConvertJpegToPDF</a>
        <div class="d-flex flex-column align-items-center">
          <h6 class="disc text-center">
            Convert images to pdf for free. No registration, No watermark !
          </h6>
        </div>

      </div>
    </div>
  </header>

  <main>

    <div class="row">
      <div class="col-12">
      </div>
    </div>

    <div class="my-3">
      <div class="row">
        <div class="m-2 col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <ul>
                <li>Absolutly Free Service</li>
                <li>Merge Images To Single PDF</li>
                <li>No Watermark</li>
                <li>No Registration</li>
              </ul>
              <p class="howtouse">How to Use</p>
              <ol>
                <li>Add Files using Upload Button or drag and drop to upload area</li>
                <li>Simply click Button to convert the images</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="m-2 col-sm-12 col-md-7">


          <button class="btn btn-primary" id="btn-select">Select Files</button>
          <input style="display: none;" type="file" id="select-file" multiple>

          <div id="image-preview" class="d-flex flex-column py-2">
              <div class="selected-image d-flex">
                  <img style="height: 5em; width: 5em;" src="https://picsum.photos/200">
                  <span class="px-4">Filename</span>
              </div>
          </div>
          <button class="btn btn-primary" id="btn-convert">Convert</button>
          
        </div>
      </div>
    </div>
  </main>






  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>