<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href="/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css' />


  <title>Convert JPEG to PDF</title>
</head>

<body>

  <div class="row">

    <div class="col-sm-12 col-md-2">
      <!-- Place for ads -->

    </div>

    <div class="col-sm-12 col-md-8">



      <div class="main">

        <header>
          <div class="jumbotron jumbotron-fluid">
            <div class="container d-flex flex-column align-items-center">
              <a class="h2" href="https://convertjpegtopdf.com">ConvertJpegToPDF</a>
              <div class="d-flex flex-column align-items-center">
                <h6 class="disc text-center">
                  Convert images to pdf for free. No registration, No watermark !
                </h6>
              </div>
            </div>
          </div>
        </header>

        <main>
          <div class="container m-2 mbody">
            <h5>
              Convert JPEG to PDF online - Convert your JPEG image to PDF for free !
            </h5>
            <p class="text-muted">Do you have a JPEG and you want to convert it to PDF ? Then You are on the right place
              !</p>
            <p>Effectively combine different JPEG pictures into a single PDF and share with others. Completely free, no
              registration, no watermark</p>

            <div>
              <h6 class="font-weight-bold">How to use</h6>
              <ol>
                <li>
                  Click <span class="font-weight-bold">Upload</span> button and Select the images you wish to convert or
                  just drag your images to
                  drop area.
                </li>
                <li>
                  Then simply click <span class="font-weight-bold">Convert</span> button and get your PDF file.
                </li>
              </ol>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-2"></div>
              <div class="col-sm-12 col-md-8 border d-flex flex-column p-2 mConverter">

                <div class="border p-2 d-flex align-items-center">
                  <button id="btn-image-select" class="btn btn-primary">Add Files</button>
                  <button id="btn-convert" class="btn btn-primary">Convert</button>
                  <div id="loading-bar" style="display: none;" class="lds-dual-ring"></div>
                </div>

                <form id="image-form" method="post" class="py-2" enctype="multipart/form-data">
                  <input type="file" style="display: none;" id="image-selector" multiple />

                  <div id="image-preview-container" class="d-flex flex-column">

                    <!-- 
                    <div class="d-flex border align-items-center d-flex my-1 p-2">
                      <img src="https://picsum.photos/200" style="width: 4em; height: 4em;">
                      <div class="p-2 d-flex flex-column">
                        <span style="font-weight: 500;">This is File name</span>
                        <small>Size: 100KB</small>
                      </div>
                      <img class="ml-auto mr-2" style="width: 1em; height: 1em;" src="/img/close.png">
                    </div>  -->


                  </div>
              </div>
              <div class="col-sm-12 col-md-2"></div>
            </div>
            </form>

          </div>
        </main>

        <footer>
          sdfsdfdsfsdfdsfdsfsd
        </footer>

      </div>






    </div>

    <div class="col-sm-12 col-md-2">
      <!-- Place for ads -->
    </div>

    <div class="col-sm-12 col-md-3">

    </div>


  </div>


  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/Sortable.min.js"></script>
  <script src="/js/jquery-sortable.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>